@import "./variables";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: $font-family-base;
  font-style: normal;
  text-align: left; // Fallback for where `start` is not supported
  text-align: start;
  line-height: $line-height-base;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  color: $gray-800;
}

h2 {
  font-size: $h2-font-size;
}

// @media (min-width: $tablet) {
// }
a {
  color: $blue;
  font-weight: 600;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.right-section {
  background-color: $blue;
  color: $white;
}
.app {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.left-wrapper {
  max-width: 400px;
  form {
    input {
      width: 100%;
      height: $base-height;
      font-size: $font-size-sm;
      margin-bottom: 18px;
      padding: 4px 12px;

      &:focus {
        outline: 1;
        box-shadow: 1;
      }
      // &::placeholder {
      //   padding: 6px;
      // }
    }
    .button {
      width: 100%;
      height: $base-height;
    }
  }
}
.right-wrapper {
  max-width: 300px;
}
.info {
  font-size: $font-size-sm;
  margin: $base-height 0;
}
