@import "./variables";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: $font-family-base;
  font-style: normal;
  text-align: left; // Fallback for where `start` is not supported
  text-align: start;
  line-height: $line-height-base;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  color: $gray-800;
  background-color: $white;
}

h2 {
  font-size: $h2-font-size;
}

a {
  color: $blue;
  font-weight: 600;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.right-section {
  background-color: $blue;
  color: $white;
}
.app {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.left-wrapper {
  max-width: 400px;
  form {
    .input-field-wrapper,
    .input-field {
      position: relative;
    }
    select {
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;
      background: $white;
      color: $gray-600;
    }
    .floating-label {
      font-size: $font-size-sm;
      position: absolute;
      top: 0;
      left: 0;
      user-select: none;
      z-index: 1500;
    }
    .input-field {
      width: 100%;
      height: $base-height;
      font-size: $font-size-sm;
      margin: 12px 0;
      padding: 4px 14px;
      transition: border-color 0.25s ease-in-out;
      border: 1px solid $gray-400;
      border-radius: 5px;

      &::placeholder {
        color: $gray-600;
      }

      &:focus {
        outline: 0;
        box-shadow: 0;
      }

      & + .floating-label {
        position: absolute;
        top: 0.75em;
        left: 0.75em;
        display: inline-block;
        width: auto;
        margin: 0;
        padding: 4px 12px;
        transition: transform 0.25s, opacity 0.25s, padding 0.25s ease-in-out;
        transform-origin: 0 0;
        color: transparent;
      }
      &:focus + .floating-label,
      &:not(:placeholder-shown) + .floating-label {
        z-index: 999;
        padding: 0.75em;
        transform: translate(0, -2.2em) scale(0.9);
        color: $gray-600;
        background-color: $white;
      }

      &:focus::placeholder {
        color: transparent;
      }

      &:invalid {
        border-color: $red;
      }
    }
    .button {
      width: 100%;
      height: $base-height;
      font-size: $font-size-sm;
      background-color: $blue;
      color: $white;
    }
    .field-icon {
      float: right;
      margin-right: 14px;
      margin-top: -56px;
      position: relative;
      z-index: 2;
    }

    .msg {
      color: $gray-600;
      font-size: $font-size-xm;
    }
  }
}
.right-wrapper {
  max-width: 300px;
}
.info {
  font-size: $font-size-sm;
  margin: $base-height 0;
}
